body {
	background-image: url(imagens/home2.jpg);
	font-family: Arial, Tahoma, Verdana;
	margin: auto;
}

.principal {
	background: black;
	height: 90px;
} 

.icone {
	width: 150px;
	margin-left: 20px;
}

.icone:hover {
	transform: scale(1.10);
	transition: all 1s;
}

nav {
	float: right;
	margin-right: 700px;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: white;
	float: left;
	margin:10px;
	margin-top: 40px;
	
}

nav a:hover {
	color: green;
	transition: all 0.2s;
}

h1, h2 {
	
}

footer {
	background: #1f1f1f;;
	color: white;
	text-align: center;
	margin: auto;
	height: 200px;
	padding-top: 100px;
	padding-bottom: 50px;
}

.main {
	margin-top: 150px;
	font-size: 28px;
	text-align: center;
	color: white;
	padding-bottom: 400px;
}

.mateus {
	background: #eaeaea;

}

.mateus p {
	color: #898989;
	text-align: center;
	font-size: 22px;
	padding-bottom: 100px;

}

.mateus h1 {
	color: #464646;
	text-align: center;
	width: 800px;
	margin:auto;
	padding-top: 100px;
}

.cross {
	width: 150px;
	margin-left: 900px;
	margin-bottom: 100px;
}

.rodape {
	background: #eaeaea;
	color: #464646;
	margin: auto;
	height: 60px;
	padding-left: 50px;
	padding-top: 30px;
}